<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ying.example.mybatis.StudentMapper">
    <resultMap id="studentResultMap" type="Student">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="className" column="class_name"/>
    </resultMap>
    <select id="selectStudent" resultType="Student">
        select * from Student where id = #{id}
    </select>
    <select id="selectStudentByNameIfPresent" resultType="Student" resultMap="studentResultMap">
        select * from Student where
        <if test="name != null">
            name = #{name}
        </if>
    </select>
    <select id="selectStudentByNameIfPresentV2" resultType="Student" resultMap="studentResultMap">
        select * from Student
        <where>
            <if test="name != null">
                and name = #{name}
            </if>
        </where>

    </select>
    <select id="selectStudentByNameAndAge" resultType="Student" resultMap="studentResultMap">
        select * from Student
        <where>
            <if test="arg0 != null">
                and name = #{arg0}
            </if>
            <if test="arg1 != null">
                and age = #{arg1}
            </if>
        </where>
    </select>
    <select id="selectStudentByNameAndAgeV2" resultType="Student" resultMap="studentResultMap">
        select * from Student
        <where>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
        </where>
    </select>
    <select id="selectByObject" resultType="Student" resultMap="studentResultMap">
        select * from Student
        <where>
            <if test="age != null">
                and age = #{age}
            </if>
        </where>
    </select>
    <select id="selectByObjectV2" parameterType="Student" resultMap="studentResultMap">
        select * from Student
        <where>
            <if test="student.age != null">
                and age = #{student.age}
            </if>
        </where>
    </select>
    <select id="selectByMap">
        select * from Student
        <where>
            <if test="map.age != null">
                and age = #{map.age}
            </if>
        </where>
    </select>
    <select id="selectByMapResultMap" resultType="map">
        select * from Student
        <where>
            <if test="map.age != null">
                and age = #{map.age}
            </if>
        </where>
    </select>

    <select id="selectStudentByOne" parameterType="Student">
        select * from Student
        <where>
            <choose>
                <when test="student.name != null">
                    and name = #{student.name}
                </when>
                <when test="student.age != 0">
                    and age = #{student.age}
                </when>
                <when test="student.className != null">
                    and class_name = #{student.className}
                </when>
            </choose>
        </where>
    </select>
</mapper>